/* /Shared/Banner.razor.rz.scp.css */
.hero-olay-box[b-up9g27ojbw] {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    margin-bottom: 35px;
}

    .hero-olay-box .hero-olay-box-title[b-up9g27ojbw] {
        font-size: 30px;
        font-weight: 900;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .hero-olay-box .hero-olay-box-description[b-up9g27ojbw] {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 25px;
    }

    .hero-olay-box .hero-olay-button[b-up9g27ojbw] {
        text-decoration: none;
        cursor: pointer;
        background: -webkit-linear-gradient(left, #55077c 0%, #ee077e 100%);
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        z-index: 3;
    }

    .hero-olay-box .hero-olay-list[b-up9g27ojbw] {
        text-decoration: none;
        cursor: pointer;
        background-color: #ee077e;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        margin-left: 5px;
        z-index: 3;
    }

.hero-olay[b-up9g27ojbw] {
    /*transform: preserve-3d;*/
    bottom: 20px;
    left: 0;
    right: 0;
    top: 0;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}
.mud-overlay .mud-overlay-content[b-up9g27ojbw] {
    position: absolute;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-9d4d6egoid] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9d4d6egoid] {
    flex: 1;
}

.sidebar[b-9d4d6egoid] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9d4d6egoid] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9d4d6egoid]  a, .top-row[b-9d4d6egoid]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-9d4d6egoid]  a:hover, .top-row[b-9d4d6egoid]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-9d4d6egoid]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9d4d6egoid] {
        display: none;
    }

    .top-row.auth[b-9d4d6egoid] {
        justify-content: space-between;
    }

    .top-row[b-9d4d6egoid]  a, .top-row[b-9d4d6egoid]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9d4d6egoid] {
        flex-direction: row;
    }

    .sidebar[b-9d4d6egoid] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9d4d6egoid] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-9d4d6egoid]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-9d4d6egoid], article[b-9d4d6egoid] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-w7hfcj1c0h] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-w7hfcj1c0h] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-w7hfcj1c0h] {
    font-size: 1.1rem;
}

.oi[b-w7hfcj1c0h] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-w7hfcj1c0h] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-w7hfcj1c0h] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-w7hfcj1c0h] {
        padding-bottom: 1rem;
    }

    .nav-item[b-w7hfcj1c0h]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-w7hfcj1c0h]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-w7hfcj1c0h]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-w7hfcj1c0h] {
        display: none;
    }

    .collapse[b-w7hfcj1c0h] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
