@page "/"

<MudButton Variant="Variant.Filled" OnClick="ProbeForEnvVar" Color="Color.Secondary">Secondary</MudButton>
<p>@Result</p>
@code {
    private string Result { get; set; }
    public void ProbeForEnvVar()
        {
            var key = "TESTING_THIS";
            var resultDic = new Dictionary<string, string>();
            foreach(EnvironmentVariableTarget target in Enum.GetValues(typeof(EnvironmentVariableTarget)))
            {
                resultDic.Add(target.ToString(), Environment.GetEnvironmentVariable(key, target));
            }
            Result = JsonConvert.SerializeObject(resultDic);
        }
    }
    
}